.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  >li {
    margin-bottom: $spacing-unit;
  }

  &:hover * {
    background-color: #242424;
    cursor: pointer;
    text-decoration: none;
  }

  .blog-post {
    border: .5px solid gray;
    border-radius: .5rem;
    padding: 1rem;

    .blog-link {
      color: white;

      h3 {
        color: $brand-color;
      }

      h3,
      h4 {
        margin-bottom: 0;
      }

      .post-title-date,
      .post-subtitle-tags {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .post-date {
        font-size: $small-font-size;
        color: $grey-color;
        margin-top: .5rem;
      }

      .post-tags {
        color: $brand-color;
        list-style-type: none;
        font-size: small;
        margin-top: .4rem;
        margin-bottom: 0;

        li:before {
          content: none;
        }
      }
    }

    &:visited {
      color: white;
    }

  }

  h3 {
    font-size: $large-font-size;
  }

  .excerpt {
    font-size: $base-font-size * .8;
    color: rgb(154, 154, 154);
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}